* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f6f7f8 0% 0% no-repeat padding-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 72px:
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 32px;
    padding: 10px 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box ;
    border-radius: 70px;
    height: 72px;
}

.logo img {
 top: 30px;
 width: 211px;
 height: 48px;
 opacity: 1;
}

.nav {
    display: flex;
    gap: 15px;
    }

.nav a {
    text-decoration: none;
    color: #007bff;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 41px;
    padding-top: 16px;
    padding-bottom: 15px;
    transition: background-color 0.3s;
    text-align: left;
    font: normal normal bold 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}

nav img{
    padding-right: 5px;
}

.nav a:hover {
    background-color: #e9ecef;
}

.highlight {
    background: #01f0d0 0% 0% no-repeat padding-box;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile a img {
    width: 19px;
    height: 20px;
}

.main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 200px;
    background-color: #FFFFFF;
    padding: 20px;
    overflow-y: auto;
    top: 122px;
    left: 18px;
    width: 367px;
    margin-left: 18px;
    border-radius: 16px;
}



.patients {
    margin-bottom: 20px;

}

.patients h2 {
    margin-bottom: 10px;
}

.patients ul {
    list-style: none;
}

.patients li {
    padding-top: 19px;
    padding-bottom: 19px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.patients span {
    padding-left: 12px;
    font: normal normal bold 14px/19px Manrope;
}

.patients span p {
    font: normal normal normal 14px/19px Manrope;
}

.patients h2 img {
    padding-left: 160px;
}

.patients li img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.patients li:hover,
.patients li.active {
    background-color: #e9ecef;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.diagnosis-history {
    width: 766px;
    height: 673px;
}

.diagnosis-history,
.diagnostic-list {
    margin-bottom: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}

.diagnosis-history h2,
.diagnostic-list h2 {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 20px;
}

.diagnostic-list {
    width: 766px;
    height: 349px;
}

.diagnostic-list table  {
    background: #f6f7f8 0% 0% no-repeat padding-box;
    border-radius: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.diagnostic-list table thead tr th{
    width: 726px;
    height: 48px;
    border-radius: 24px;
    background: #f6f7f8 0% 0% no-repeat padding-box;
}

.diagnostic-list table tbody tr {
    width: 723px;
    height: 59px;
    margin-top: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}




.vital-sign {
   padding: 0 1600px;
}


.vital1 {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 21px;
    left: 437px;
    width: 228px;
    height: 242px;
    background: #E0F3FA 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    float: left;
}

.vital2 {
    margin-right: 21px;
    left: 437px;
    width: 228px;
    height: 242px;
    background: #ffe6e9 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    float: left;
}

.vital3 {
    left: 437px;
    width: 228px;
    height: 242px;
    background: #ffe6f1 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    float: left;
}

.vital1 p {
    padding-top: 16px;
    padding-left: 16px;
    text-align: left;
    font: normal normal medium 16px/22px Manrope;
    letter-spacing: 0px;
    color: #072635;
    text-transform: capitalize;
    opacity: 1;
}

.vital1 h1 {
    padding-left: 16px;
    padding-bottom: 18px;
    text-align: left;
    font: normal normal 800 30px/41px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}

.vital1 span {
    padding-left: 16px;
}

.vital1 img{
    padding-left: 16px;
    padding-top: 16px;
     width: 96px;
     height: 96px;
     opacity: 1;
}




.vital2 p {
    padding-top: 16px;
    padding-left: 16px;
    text-align: left;
    font: normal normal medium 16px/22px Manrope;
    letter-spacing: 0px;
    color: #072635;
    text-transform: capitalize;
    opacity: 1;
}

.vital2 h1 {
    padding-left: 16px;
    padding-bottom: 18px;
    text-align: left;
    font: normal normal 800 30px/41px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}

.vital2 span {
    padding-left: 16px;
}

.vital2 img{
    padding-left: 16px;
    padding-top: 16px;
     width: 96px;
     height: 96px;
     opacity: 1;
}

.vital3 p {
    padding-top: 16px;
    padding-left: 16px;
    text-align: left;
    font: normal normal medium 16px/22px Manrope;
    letter-spacing: 0px;
    color: #072635;
    text-transform: capitalize;
    opacity: 1;
}

.vital3 h1 {
    padding-left: 16px;
    padding-bottom: 18px;
    text-align: left;
    font: normal normal 800 30px/41px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}

.vital3 span {
    padding-left: 16px;
}

.vital3 img{
    padding-left: 16px;
    padding-top: 16px;
     width: 96px;
     height: 96px;
     opacity: 1;
}

.sidebar-right {
    width: 367px;
    height: 740px;
    margin-bottom: 32px;
    margin-left: 33px;
    margin-right: 17px;
}

.patient-info {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}

.patient-info img {
    padding-left: 83px;
    padding-right: 84px;
    padding-top: 32px;
}

.patient-info h2 {
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 101px;
    padding-right: 102px;
}

.patient-info span img {
    padding-right: 16px;
    padding-right: 20px;
}